pkgbase = line-gtk
	pkgdesc = Unofficial native LINE client for Linux (GTK4 / Libadwaita)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/MidnightTale/Line-GTK
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	depends = gtk4
	depends = libadwaita
	depends = ffmpeg
	depends = deno
	depends = hicolor-icon-theme
	optdepends = poppler: PDF preview in media viewer
	optdepends = gst-plugins-good: extra video playback codecs
	optdepends = gst-libav: extra video playback codecs
	conflicts = line-gtk-git
	options = !lto
	source = line-gtk-0.1.1.tar.gz::https://github.com/MidnightTale/Line-GTK/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 2c1f0d124dbeac70d76d646e9d8fe490b6e3233f8a731d8fa32faa1267d280ec

pkgname = line-gtk
